html {
  box-sizing: border-box;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(172, 61, 61);
}

.header {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.mundo-1 {
  margin: 30px 50px;
}

.worlds {
  display: none;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 6em;
  display: flex;
}
#intro {
  position: relative;
  display: flex;
  justify-content: center;
}
.assets {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}

#start-button {
  font-family: "Cinzel", serif;
  color: goldenrod;
  background-color: darkred;
  font-size: 2em;
  margin: 10px;
}
canvas {
  background-image: url(Tarot/background.jpg);

  display: flex;
  flex-flow: row wrap;
}
/*
#ases {
  display: flex;
}
*/
.ases-botones img {
  height: 10%;
  width: 7%;
}

.ases-win img {
  width: 2.5%;
  height: 4%;
}

#wcoins {
  display: none;
}

#wcups {
  display: none;
}

#wswords {
  display: none;
}

#wwands {
  display: none;
}
