html {
  box-sizing: border-box;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(172, 61, 61);
}

.header {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.header img {
  width: 90px;
  height: 150px;
  padding: 0 150px;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 6em;
  display: flex;
}
#intro {
  position: relative;

  display: flex;
  justify-content: center;
}
.assets {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}

#start-button {
  font-family: "Cinzel", serif;
  color: goldenrod;
  background-color: darkred;
  font-size: 2em;
  display: flex;
}
canvas {
  background-image: url(Tarot/background.jpg);

  display: flex;
  flex-flow: row wrap;
}
/*
#pics {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 0 30px;
}
*/

#ases img {
  width: 5%;
  height: 10%;
}
